

<div id="top">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12"  id='logo'>
          <%= link_to (image_tag 'logo.png', class: 'img-responsive'), root_path %>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12" id="date">
          <%= raw @page.content_for(:date) %>
        </div>
    </div>
    <div class="row">


      <div class="col-md-12">
        <div class="embed-responsive embed-responsive-16by9">
        <%= raw @page.content_for(:video_embed_code) %>
      </div>
      </div>
<!--       <div class="col-md-6" id="video-container">
        
      </div> -->



      </div>
    </div>

<div class="container">
    <div class="row" id="utility">
      <div class="col-md-8">
        <div class="alert alert-info text-left" id="alert">
          <div class="row">
          <div class="col-md-1 col-xs-12 text-center"><i class="fa fa-warning fa-3x"></i></div>
          <div class="col-md-11"><%= raw @page.content_for(:alert) %></div>
          </div>
        </div>
        
      </div>
      <div class="col-md-4" id="hm-register">
        
        <%= render 'refinery/shared/register' %>
      </div>
    </div>
  </div>


  </div>
</div>

<div id="events">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= link_to (image_tag 'blk-tt.png', class: 'img-responsive'), '/hill-tt' %>
        <%= raw @page.content_for(:tt_txt) %>
      </div>
      
      <div class="col-md-4">
        <%= link_to (image_tag 'blk-rr.png', class: 'img-responsive'), '/road-race' %>
        <%= raw @page.content_for(:road_txt) %>
      </div>

      <div class="col-md-4">
        <%= link_to (image_tag 'blk-crit.png', class: 'img-responsive'), '/criterium' %>
        <%= raw @page.content_for(:crit_txt) %>
      </div>
    </div>
  </div>
</div>

<%= render 'refinery/shared/jersey' %>
<%= render 'refinery/shared/sponsors' %>
