

<div id="top">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12"  id='logo'>
          <%= image_tag 'logo.png', class: 'img-responsive' %>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <%= raw @page.content_for(:date) %>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12" id="video-container">
        <%= raw @page.content_for(:video_embed_code) %>
      </div>
      
    </div>
  </div>
</div>

<div id="events">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'blk-tt.png', class: 'img-responsive' %>
        <%= raw @page.content_for(:tt_txt) %>
      </div>
      <div class="col-md-4">
        <%= image_tag 'blk-rr.png', class: 'img-responsive' %>
        <%= raw @page.content_for(:road_txt) %>
      </div>
      <div class="col-md-4">
        <%= image_tag 'blk-crit.png', class: 'img-responsive' %>
        <%= raw @page.content_for(:crit_txt) %>
      </div>
    </div>
  </div>
</div>

<%= render 'refinery/shared/jersey' %>

<%= render 'refinery/shared/sponsors' %>






<!-- div id="section-1">
  <div class="container">
    <div class="row">
      <%#= render '/refinery/content_page' %>
      <div class="col-md-4">
        <h3>Driving through fog</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco</p>
      </div>
      <div class="col-md-4">
        <h3>Driving through fog</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco</p>
      </div>
      <div class="col-md-4">
        <h3>Driving through fog</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco</p>
      </div>
    </div>
  </div>
</div>


<div id="section-2">
  <div class="container">
    <div class="row">
      <%#= render '/refinery/content_page' %>
      
      <div class="col-md-6 col-md-offset-6">
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco</p>
      </div>
    </div>
  </div>
</div>


 -->