

<div id="top">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12"  id='logo'>
          <%= image_tag 'logo.png', class: 'img-responsive' %>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12" id="date">
          <%= raw @page.content_for(:date) %>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12" id="video-container">
        <%= raw @page.content_for(:video_embed_code) %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="alert alert-info text-left" style="margin-top:20px;font-size:15px;">
          <p><strong><i class="fa fa-warning 2x"></i> Pre-registration for the Time Trial is mandatory</strong>, and closes on April 29th at midnight central time.</p>
          <p><i class="fa fa-warning 2x"></i> Day of registration will be available for the Criterium and the Road Race with a late entry fee penalty of $5 per event.</p>
        </div>
        
      </div>
      <div class="col-md-4" id="hm-register">
        <%= render 'refinery/shared/register' %>
      </div>

    </div>
  </div>
</div>

<div id="events">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'blk-tt.png', class: 'img-responsive' %>
        <%= raw @page.content_for(:tt_txt) %>
      </div>
      <div class="col-md-4">
        <%= image_tag 'blk-rr.png', class: 'img-responsive' %>
        <%= raw @page.content_for(:road_txt) %>
      </div>
      <div class="col-md-4">
        <%= image_tag 'blk-crit.png', class: 'img-responsive' %>
        <%= raw @page.content_for(:crit_txt) %>
      </div>
    </div>
  </div>
</div>

<%= render 'refinery/shared/jersey' %>
<%= render 'refinery/shared/sponsors' %>
