<div id="top-l2">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12"  id='logo'>
          <%= link_to (image_tag 'lax_om_logo.png', class: 'img-responsive'), root_path %>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <h1>May 5 - 7, 2017 | La Crosse, WI</h1>
          <%#= raw @page.content_for(:date) %>
        </div>
    </div>

  </div>
</div>

<div id="l2-image">
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="">

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          
          <ol class="carousel-indicators">
            <% @page.images.each_with_index do |image, index| %>
            <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" class="<% if index == 0 %>active<% end %>"></li>
            <% end %>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <% @page.images.each_with_index do |image, index| %>
            <div class=" item <% if index == 0 %>active<% end %>">
              <%= image_fu(image, '1140x300c') %>
            </div>
            <% end %>
          </div>
          
  <!-- Controls -->
          <a class="left carousel-control hidden-xs" href="#carousel-example-generic" data-slide="prev">
            <span class="fa fa-chevron-left" style="position:absolute;top:47%;"></span>
          </a>
          <a class="right carousel-control hidden-xs" href="#carousel-example-generic" data-slide="next">
            <span class="fa fa-chevron-right" style="position:absolute;top:47%;"></span>
          </a>
        </div>


        <%#= image_tag 'tj2.jpg', class: 'img-responsive' %>
        <%#= raw @page.content_for(:video_embed_code) %>
      </div>  
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <!-- <h1>Title</h1> -->
        <%= raw @page.content_for(:body) %>
         <div class="l2-register">
          <%= render 'refinery/shared/register' %>
        </div>
        <div class="l2-points">
          <%= render 'refinery/shared/points' %>
        </div>
      </div>
      <div class="col-md-8">
        <%= raw @page.content_for(:table) %>
        <%= render 'refinery/shared/omnium_points' %>
      </div>
    </div>
  </div>
</div>

<%= render 'refinery/shared/jersey' %>
<%= render 'refinery/shared/sponsors' %>


<%#= render '/refinery/content_page' %>
