<div id="sponsors">
  <div class="container">
    
      <%#= render '/refinery/content_page' %>
      <div class="row">
        <div class="col-md-3 col-md-offset-1 col-xs-10 col-xs-offset-1">
          <h1>Thank you to our sponsors...</h1>
        </div>
        <div class="col-md-6 col-xs-10 col-xs-offset-1">
          <p>The La Crosse Omnium is part of the Festival Foods Grandad Half Marathon, a two-day outdoor aerobic celebration held each year on the first weekend in May. In addition to the La Crosse Omnium activities include a half marathon, 5K race and more.  For more information visit the <%= link_to 'Festival Foods Grandad Half Marathon website.', 'http://festivalfoodsgrandadhalf.com/' %></p>
        </div>
      </div>
      
      <div class="row" id="sponsor-logos">
        <div class="col-md-2 col-md-offset-2 col-xs-6">
          <%= image_tag '360.png', class: 'img-responsive' %>
        </div>
        <div class="col-md-2  col-xs-6">
          <%= image_tag 'time.jpg', class: 'img-responsive' %>
        </div>
<!--         <div class="col-md-2  col-xs-6">
          <%#= image_tag 'smiths.png', class: 'img-responsive' %>
        </div> -->
        <div class="col-md-2  col-xs-6">
          
          <%= image_tag 'BorahTeamwear_10x10_BLACK.png', class: 'img-responsive' %>
        </div>
        <div class="col-md-2  col-xs-6">
          <%= image_tag 'lindys.png', class: 'img-responsive' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <p><strong>Jeremiah J. and Ivy Andersen</strong><br />
            Doctors of the Gundersen Health System</p>
        </div></div>
  
  </div>
</div>