<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css'>
  </head>
  
  <body id="<%= canonical_id @page %>">
    <%= site_bar -%>
    <div id="page_container">

      <header id="header">
        <!-- see /refinery/headers for options for headers above xs -->
        <div class="hidden-xs"><%= render "/refinery/headers/header_nobg" -%></div>

        <!-- default xs nav -->
        <div class="visible-xs"><%= render "/refinery/headers/header_fixed_top" -%></div>
      </header>

      <section id="page">
        <div id="hero-image">
          <div class="container">
            <div class="row">
              <h1 id='logo'>
                <%#= link_to Refinery::Core.site_name, refinery.root_path %>
              </h1>
            </div>
          </div>
        </div>



        <%= yield %>
        <div class="usa-cycling">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <strong>USA Cycling event permit: #2013-1131</strong> <%= image_tag 'USACycling_Logo2.gif', class: 'img-responsive usa' %>
            </div>
          </div>
        </div>
      </div>
      </section>
      <footer>
        <%= render "/refinery/footer" -%>
      </footer>
    </div>
    <%= render "/refinery/javascripts" %>
  </body>
</html>
